# Ignore virtual environment
venv/

# Ignore large model cache files
*.pt
*.bin
*.safetensors
__pycache__/
*.pyc

# Ignore hidden system files
.DS_Store

# Ignore cached model/data folders
.cache/
datasets/
data_files/*.npy
results/*.csv
